body {
  font-family: "Inter";
}

body {
  margin: 0;
}

.header {
  display: flex;
  background-color: #d36135;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  font-size: 28px;
  font-family: "Playfair Display";
  padding-bottom: 8px;
}

.main-content {
  background-color: #83bca9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#subheading {
  font-family: "Playfair Display";
  border-bottom: 4px solid black;
}

#description {
  width: 1000px;
  text-align: center;
  padding-bottom: 24px;
}

#index-link {
  text-decoration: none;
  color: white;
  width: 120px;
  height: 32px;
  background-color: red;
  text-align: center;
  align-content: center;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

#screenshot {
  width: 800px;
  height: auto;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1100px;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3e5641;
  color: white;
  padding: 48px;
  border-radius: 8px;
}

.instruction-image {
  width: auto;
  height: 24px;
  border-radius: 4px;
  vertical-align: middle;
}

.instruction-image-large {
  width: 130px;
  height: auto;
  border-radius: 4px;
  vertical-align: middle;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  margin-bottom: 64px;
  gap: 24px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.individual-image {
  width: 400px;
}

.footer {
  text-align: center;
  background-color: #282b28;
  height: 64px;
  color: white;
  align-content: center;
}
